<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">create a new message</a>
    <ul>
      <% messages.forEach(function(message) { %>
      <li>
        <p><b> User: </b> <%= message.user %></p>
        <p>
          <b> Added: </b>
          <%= message.added %>
        </p>
        <p>
          <b> Text: </b>
          <%= message.text %>
        </p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
